<div fxLayout="column wrap" class="full-height" fxLayoutAlign="start stretch" [fxShow]="true"><mat-toolbar color="primary">
    <h2>
      VALOR</h2>
  </mat-toolbar>
  <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
    <h2>
      Welcome to the Valor App</h2>
  </div>
  <div fxLayout="row wrap" class="flex-1" fxLayoutAlign="center stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true"><mat-card>
        <mat-card-title>Register to get started</mat-card-title>

        <mat-card-subtitle>Please fill in all required fields</mat-card-subtitle>

        <mat-card-content>
          <form #registerForm="ngForm">
            <mat-form-field class="full-width" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput [(ngModel)]="page.user.firstName" name="firstName" placeholder="First Name" [required]="true">

            </mat-form-field>
            <mat-form-field class="full-width" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput [(ngModel)]="page.user.lastName" name="lastName" placeholder="Last Name" [required]="true">

            </mat-form-field>
            <mat-form-field class="full-width" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput [(ngModel)]="page.user.email" name="email" type="email" placeholder="Email" [required]="true">

            </mat-form-field>
            <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><button mat-raised-button class="flex-1" color="warn" (click)="registerForm.reset();">Cancel</button><button mat-raised-button class="flex-1" color="accent" (click)="submit(registerForm)" [disabled]="registerForm.invalid">Submit</button></div>
          </form>
        </mat-card-content>
      </mat-card></div>
  </div>
</div>